<!DOCTYPE html>
<html lang="en">
<% for (i of post) { %>
<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBHRELYFJV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    
    gtag('config', 'G-FBHRELYFJV');
    </script>
    <meta charset="UTF-8">
    <title><%= i.metatitle %></title>
    <meta name="description" content="<%= i.metadesc %>">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/blog.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/jazzyxgee/hitokombucha/gh-pages/images/favicon.ico">

    <meta property="og:title" content="Hi! to Kombucha" />
    <meta property="og:url" content="https://hitokombucha.com/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/jazzyxgee/hikombucha.github.io/gh-pages/images/bottles-og.jpg" />

</head>
<body>
    <div class = "container-blog">
        <div class ="nav-bar">
            <div class = "nav-btns">
                <div class="button_search" id = "open-search" >
                    <a href="/blog" class="openbtn">&#x1F50E;&#xFE0E;</a>
                </div>
                <div class="button_container_open" id = "open-button-container" >
                    <a href="javascript:void(0)" class="openbtn">&#9776;</a>
                </div>
            </div>
            <div class = "icon">
                <div class = "icon-img">
                    <img src="/img/logo design 2 transparency.png" width="70px" alt="Hi! to Kombucha logo">
                </div>  
            </div>

            <!-- overlay part-->
            <div class = "overlay" id ="overlay-menu">
                <div class='cursor' id="cursor"></div>
                <div class="button_container" id = "close-button-container" >
                    <a href="javascript:void(0)" class="closebtn" >X</a>
                </div>
                <nav>
                    <ul class = "links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class = "active"><a href="/blog">Blog</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul> 
                </nav>
            </div>
        </div>

        <div class = "posted">
            <div class="posted-container">
                <div class = "hero" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(<%= i.himg %>)">
                    <div class = "description">
                        <h1 class = "art-title"><%= i.title %></h1>
                        <p class = "art-descript">by <%= i.user %> | <%= i.category %></p>
                    </div>
                </div>
                <article>
                    <div class = "intro">
                        <br>
                        <h2><%= i.h2 %></h2>
                        <p><%= i.pintro %></p>
                        <br>
                    </div>
                    <div>  
                        <p><%= i.post %> <a href="<%= i.link1 %>"><%= i.link1text %></a></p>
                    </div>
                    <div class = "spotlight-photo">
                        <img src="<%= i.img1 %>" alt="<%= i.img1 %>">
                        <figcaption> <%= i.img1cap %> </figcaption>
                    </div>
                    <div>
                        <p><%= i.post2 %></p>
                    </div>
                    <div class = "photo-grid">
                        <div class = "photo1">
                            <img src="<%= i.img2 %>" alt="<%= i.img2 %>">
                        </div>
                        <div class = "photo2" >
                            <img src="<%= i.img3 %>" alt="<%= i.img3 %>">
                        </div>
                        <div class = "photo3">
                            <img src="<%= i.img4 %>" alt="<%= i.img4 %>">
                        </div>
                        <div class = "photo4">
                            <img src="<%= i.img5 %>" alt="<%= i.img5 %>">
                        </div>
                    </div>
                    <div>
                        <p><%= i.post3 %> <a href="<%= i.link2 %>"><%= i.link2text %></a></p>
                    </div>
                    <div>
                        <p><%= i.post4 %> </p>
                        <br>
                    </div>
                   
                    <h2>Other articles...</h2>
                    <div class="related-grid">
                        <div class="related-post">
                            <img src="https://raw.githubusercontent.com/jazzyxgee/h2k/main/public/img/what-is-kombucha-cover.jpg" width="185px">
                            <h4><a href="https://www.hitokombucha.com/post/3/what-is-kombucha">What is Kombucha?</a></h4>
                            <div><br></div>
                        </div>
                        <div class="related-post">
                            <img src="https://raw.githubusercontent.com/jazzyxgee/h2k/main/public/img/may-whats-growing.jpg" width="185px">
                            <h4><a href="https://hitokombucha.com/post/1/whats-growing-in-the-garden">What's Growing in the Garden?</a></h4>

                        </div>
                        <div class="related-post">
                            <img src="https://raw.githubusercontent.com/jazzyxgee/h2k/main/public/img/poll-cover.jpg" width="185px">
                            <h4><a href="https://hitokombucha.com/post/2/poll-what-would-you-like-to-learn-about">Poll: What would you like to learn about?</a></h4> 
                        </div>
                    </div>
                </article>
            </div> 
        </div>
<% } %>
        <footer>
            <div class = "footer-content">
                <div class = "footer-info">
                    <h3>Hi! to Kombucha</h3>
                    <a class = "cc-link" href="mailto:customer.care@hitokombucha.com" >customer.care@hitokombucha.com</a><br>
                    <p>San Diego, CA</p>
                    <br>
                </div>
                <div class = "footer-social">
                    <a href="https://www.instagram.com/hi2kombucha/" target="_blank"><img src="/img/ig-icon.png" width="30px" alt="Instagram icon"></a>
                    <a href="https://www.youtube.com/channel/UC1sNPHowGkGBphwOIhpp-MQ/featured" target="_blank"><img src="/img/yt-icon.png" width="30px" alt="Youtube icon"></a>
                    <a href="https://www.linkedin.com/company/hi-to-kombucha/?viewAsMember=true" target="_blank"><img src="/img/ln-icon.png" width="30px" alt="Linkedin icon"></a>
                </div>
            </div>
        </footer>
    </div>

    <script src="/js/main.js"></script>

</body>
</html>