<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hi! to Kombucha</title>
    <meta name="description" content="Find articles and how-to guides about kombucha, gardening, and healthy foods
    on Hi! to Kombucha.">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/blog.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">


    <meta property="og:title" content="Hi! to Kombucha" />
    <meta property="og:url" content="https://hitokombucha.com/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/jazzyxgee/hikombucha.github.io/gh-pages/images/bottles-og.jpg" />

</head>
<body>
    <div class = "container-blog">
        <div class ="nav-bar">
            <div class = "nav-btns">
                <div class="button_search" id = "open-search" >
                    <a href="javascript:void(0)" class="openbtn">&#x1F50E;&#xFE0E;</a>
                </div>
                <div class="button_container_open" id = "open-button-container" >
                    <a href="javascript:void(0)" class="openbtn">&#9776;</a>
                </div>
            </div>
            <div class = "icon">
                <div class = "icon-img">
                    <img src="../img/logo design 2 transparency.png" width="70px" alt="Hi! to Kombucha logo">
                </div>  
            </div>

            <!-- overlay part-->
            <div class = "overlay" id ="overlay-menu">
                <div class='cursor' id="cursor"></div>
                <div class="button_container" id = "close-button-container" >
                    <a href="javascript:void(0)" class="closebtn" >X</a>
                </div>
                <nav>
                    <ul class = "links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class = "active"><a href="/blog">Blog</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul> 
                </nav>
            </div>
        </div>
        <div class = "blog-heading">
            <div class = "b-text">
                <h1><a class = "h1-link"href="/blog" >H2K Blog</a></h1>
                <p>You can search by keyword or by category. We have all types of articles for everyone
                    to enjoy!</p>
            </div>
        </div>
        <div class = "search-zone">
            <form action="/searchByKeyword">
                Search:
                <input type="text" name="keyword">
                <button>Search by Keyword</button>
            </form>
            <form action="/searchByCategory">
                <select name="category">
                    <option value="kombucha">Kombucha</option>
                
                    <option value="gardening">Gardening</option>
                    <option value="polls">Polls</option>
                </select>
                <button>Search by Category</button>
            </form>
        </div>

        <div class = "results-heading">
            <br>
            <h2>Results</h2>
            <br>
        </div>

        <section class = "blog-roll">
            <div class = "br-posts">
                <% for (i of posts) { %>
                    <div class = "br-post1">
                        <div class = "br-photo1">
                            <img src="https://cdn.pixabay.com/photo/2022/03/19/18/36/tea-7079254_960_720.jpg" width="480px" alt="Blog post photos">
                        </div>
                        <div class = " br-text1">
                            <a class = "bl-title-link" href="javascript:void(0)"><%= i.title %></a><br>
                            <div class = "br-text">
                                by <a href="javascript:void(0)" > <%= i.user %></a><br>
                                <p><a href="javascript:void(0)" > <%= i.category %></a> - <%= i.date %></p>
                                <br>

                                <form action="/post">
                                    <select class = "postopt" name = "postId">
                                        <option value = "<%= i.postId %>"><%= i.postId %></option>
                                    </select>
                                    <button>Read More</button>
                                </form>

                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>

        <footer>
            <div class = "footer-content">
                <div class = "footer-info">
                    <h3>Hi! to Kombucha</h3>
                    <a class = "cc-link" href="mailto:customer.care@hitokombucha.com" >customer.care@hitokombucha.com</a><br>
                    <p>San Diego, CA</p>
                    <br>
                </div>
                <div class = "footer-social">
                    <a href="https://www.instagram.com/hi2kombucha/" target="_blank"><img src="../img/ig-icon.png" width="30px" alt="Instagram icon"></a>
                    <a href="https://www.youtube.com/channel/UC1sNPHowGkGBphwOIhpp-MQ/featured" target="_blank"><img src="../img/yt-icon.png" width="30px" alt="Youtube icon"></a>
                    <a href="https://www.linkedin.com/company/hi-to-kombucha/?viewAsMember=true" target="_blank"><img src="../img/ln-icon.png" width="30px" alt="Linkedin icon"></a>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/main.js"></script>

</body>
</html>